<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903244862888-80phlr3k5sso7q7e5dr9dsp25g79vaqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903244862888-80phlr3k5sso7q7e5dr9dsp25g79vaqs</string>
	<key>API_KEY</key>
	<string>AIzaSyBcj6GVIFA5yjfz0izuoQvuTnPn4J_lM2U</string>
	<key>GCM_SENDER_ID</key>
	<string>903244862888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reti.EUMMEYO</string>
	<key>PROJECT_ID</key>
	<string>eummeyo-6d55f</string>
	<key>STORAGE_BUCKET</key>
	<string>eummeyo-6d55f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903244862888:ios:683aea74e0e7d481cc799d</string>
	<key>DATABASE_URL</key>
	<string>https://eummeyo-6d55f-default-rtdb.firebaseio.com</string>
</dict>
</plist>